{% extends 'base-page.html' %}
{% block title %}Молекулярная физика{% endblock title %}
{% block name %}Молекулярная физика{% endblock name %}
{#theory#}
{% block theory %}
      <div class="text" ><p><b>Электродина́мика</b> — раздел физики, изучающий электромагнитное поле в наиболее общем случае (то есть, рассматриваются переменные поля, зависящие от времени) и его взаимодействие с телами, имеющими электрический заряд (электромагнитное взаимодействие).</p></div>
            </div>
{% endblock theory %}

{#formulas#}
{% block formulas %}
<img class="img-media" src="../static/img/formuly_po_molekuljarnoj_fizike.jpg">

{% endblock formulas %}

{#tasks#}
{% block tasks %}
<a class="chapters" href="https://phys-ege.sdamgia.ru/test?filter=all&category_id=276">Задачи</a>
{% endblock tasks %}