{% extends 'base-page.html' %}
{% block title %}Механика{% endblock title %}
{% block name %}Механика{% endblock name %}
{#theory#}
{% block theory %}
    <div class="text" ><p><b>Меха́ника</b> (греч. μηχανική — искусство построения машин) — раздел физики, наука, изучающая движение материальных тел и взаимодействие между ними; при этом движением в механике называют изменение во времени взаимного положения тел ил
        и их частей в пространстве.</p></div>

{% endblock theory %}

{#formulas#}
{% block formulas %}
<img class="img-media" src="../static/img/img5.jpg" alt="">

{% endblock formulas %}

{#tasks#}
{% block tasks %}
<a class="chapters" href="https://phys-ege.sdamgia.ru/search?keywords=1&cb=1&search=1.1.1%20Механическое%20движение.%20Относительность%20механического%20движения.%20Система%20отсчета">Задачи</a>
{% endblock tasks %}