{% extends 'base-page.html' %}
{% block title %}Электростатика{% endblock title %}
{% block name %}Электростатика{% endblock name %}
{#theory#}
{% block theory %}
    <div class="text" ><p><b>Электростатика</b> — раздел электродинамики, в котором изучают свойства, взаимодействие и условия равновесия неподвижных в некоторой инерциальной системе отсчёта электрически заряженных тел, распределение заряда на которых не изменяется со временем, а также электростатические поля, создаваемые зарядами таких тел. Термин «электростатика» введён Ампером в 1822 г. Фундамент электростатики составляют экспериментальные научные факты, отражающие поведение заряженных тел при их электрическом взаимодействии. Ядро электростатики составляют закон сохранения электрического заряда, опытным путём установленный в 1759 г. петербургским академиком Францем Эпинусом (1724—1802), и закон взаимодействия покоящихся точечных зарядов, экспериментально открытый в 1785 г. французским учёным Шарлем Кулоном (1736—1806).
    </p></div>
{% endblock theory %}

{#formulas#}
{% block formulas %}
<img class="img-media" src="../static/img/image20-min.png">

{% endblock formulas %}

{#tasks#}
{% block tasks %}
<a class="chapters" href="https://phys-ege.sdamgia.ru/search?keywords=1&cb=1&search=3.1.5%20Потенциальность%20электростатического%20поля.%20Разность%20потенциалов%20и%20напряжение">Задачи</a>
{% endblock tasks %}