{% extends 'base-page.html' %}
{% block title %}Термодинамика{% endblock title %}
{% block name %}Термодинамика{% endblock name %}
{#theory#}
{% block theory %}
    <div class="text" ><p><b>Термодинамика</b> – это раздел физики, изучающий тепловые свойства макроскопических тел и систем тел, находящихся в состоянии теплового равновесия, на основе закона сохранения энергии, без учета внутреннего строения тел, составляющих систему.

        Термодинамика не рассматривает микроскопические величины – размеры атомов и молекул, их массы и количество.</p></div>


{% endblock theory %}

{#formulas#}
{% block formulas %}
<img class="img-media" src="../static/img/trainer_ege_phys_8b.jpg">

{% endblock formulas %}

{#tasks#}
{% block tasks %}
<a class="chapters" href="https://phys-ege.sdamgia.ru/search?text=2&keywords=10&body=3&solution=1&cb=1&search=термодинамика&page=2">Задачи</a>
{% endblock tasks %}